{% extends 'base.html' %}
{% block content %}
	<main class="main-content">
		<div class="page">
			<div class="container">
				<p>Fancy beauty is an online beauty store, providing quality and trendy products to Kenyan women. In our gallery, we have a wide range of products, including hair oils, creams and makeups.
					<br>If you wake up every morning excited to do your makeup, wanna get convenience when shopping, value quality over quantity, then Fancy Beauty Shop will offer you all that and also enjoy top notch customer service. Additionally, we are selling products of world famous brands</p>

				<div class="row">						
					<div class="col-md-4">

						<h3>How we work</h3>
						<p>
							<b>=></b>	We LOVE our customers. And we strive everyday to serve them better!
							<br><br><b>=></b>	We have trained beauty experts and we will give you a personalized beauty consultation!
							<br><br><b>=></b>	You can shop with us on our website or other preferred channels (Call / Messenger / Whatsapp). 
							<br><br><b>=></b>	Contact to place order. Once you place your order, we will deliver to you next day and you will pay on delivery (only within Nairobi).
							<br><br><b>=></b>	You can also come to our showroom and try any product you want. We are located in Miei Park along Moi Drive in Umoja, 2nd Floor.
						</p>
					</div>						
				</div>
			</div>
		</div>
	</main>
{% endblock %}
	

			